/* layout.css */

.layout-container {
    display: flex;
}

.drawer-menu-container {
    width: 50px;
    transition: width 0.3s ease;
    background-color: #272727;
    overflow: hidden;
}

.drawer-menu-container:hover {
    width: 200px;
}

.content-container {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.drawer-menu-container:hover+.content-container {
    margin-left: -150px;
}

