.tracker-container {
    width: 400px;
    height: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 20px;
}

.tracker-button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tracker-timer-time {
    opacity: 1;
}

.tracker-button-container button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}